// colors
$dark_blue: #264653;
$blue_green: #2a9d8f;
$yellow: #e9c46a;
$orange: #f4a261;
$dark_orange: #e76f51;
$darker_orange: #a4513d;
$white: #ffffff;
$white_opacity: #ffffffc5;
$light_gray: #cbcbcb;
$black: #000000;
$black-opacity: #0000008c;

// mixins
@mixin sizeUtil($width: "", $height: "") {
  width: $width;
  height: $height;
}

@mixin maxSizeUtil($max-width: "", $max-height: "") {
  max-width: $max-width;
  max-height: $max-height;
}

@mixin flexUtil($flex-flow: "", $justify-content: "", $align-items: "") {
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $justify-content;
  align-items: $align-items;
}

// global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  @include sizeUtil(100%, 100vh);
  background: $orange url("../assets/pokemon-background.png") no-repeat center;
  background-size: cover;
}

main {
  @include sizeUtil(100%, 100vh);
  padding: 20px;
}

button {
  cursor: pointer;
  border: 0;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}